
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>{{title}}</p>
    </div>
    <div class="col-6">
      <input #nombre="ngModel" type="text" class="form-control" id="nombre" name="nombre" 
        placeholder="Product nombre"
        [(ngModel)]="toUpdateProduct.nombre" 
        [ngClass]="{ 
          'is-invalid': nombre.invalid && nombre.touched,
          'is-valid': nombre.valid && nombre.touched
        }" 
        required 
      />
    </div>
    <div class="col-6">
      <input #descripcion="ngModel" type="text" class="form-control" id="descripcion" name="descripcion" 
        placeholder="Product descripcion"
        [(ngModel)]="toUpdateProduct.descripcion" 
        [ngClass]="{ 
          'is-invalid': descripcion.invalid && descripcion.touched,
          'is-valid': descripcion.valid && descripcion.touched
        }" 
        required 
      />
    </div>
    <div class="col-6">
      <input #precio="ngModel" type="number" class="form-control" id="precio" name="precio" 
        placeholder="Product precio"
        [(ngModel)]="toUpdateProduct.precio" 
        [ngClass]="{ 
          'is-invalid': precio.invalid && precio.touched,
          'is-valid': precio.valid && precio.touched
        }" 
        required 
      />
    </div>
    <div class="col-6">
      <input #cantidad_en_stock="ngModel" type="number" class="form-control" id="cantidad_en_stock" name="cantidad_en_stock" 
        placeholder="Product cantidad_en_stock"
        [(ngModel)]="toUpdateProduct.cantidad_en_stock" 
        [ngClass]="{ 
          'is-invalid': cantidad_en_stock.invalid && cantidad_en_stock.touched,
          'is-valid': cantidad_en_stock.valid && cantidad_en_stock.touched
        }" 
        required 
      />
    </div>
    <div class="col-6">
      <select #categoria="ngModel" class="form-control" id="categoria" name="categoria" 
        placeholder="Categoria"
        [(ngModel)]="toUpdateProduct.categoria" 
        [ngClass]="{ 
          'is-invalid': categoria.invalid && categoria.touched,
          'is-valid': categoria.valid && categoria.touched
        }" 
        required>
        <option value="" disabled selected>Select Category</option>
        <option *ngFor="let categoria of categories" [value]="categoria.id">{{ categoria.nombre }}</option>
      </select>
    </div>
    <div class="col-6 mt-3">
      <button
        type="button"
        (click)="addEdit()"
        class="btn btn-primary d-flex align-items-center">
        <i class="fa-solid fa-pencil white me-2"></i>
        <p class="mb-0"> {{title}} </p>
      </button>
    </div>
  </div>
</div>

